* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #222; /* Dark color for the track */
  }

  /* For Firefox */
  scrollbar-color: #333 #222; /* Dark color for the thumb and track in Firefox */
}
body {
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.left {
  width: 25vw;
  border: 2px solid black;
  background-color: black;
}
.close {
  display: none;
}
.home {
  border-radius: 7px;
  background-color: #121212;
  color: white;
  margin: 8px;
  padding: 10px;
}

.home ul {
  list-style: none;
}
.home ul li {
  width: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 18px;
  font-weight: 700;
}
.home ul li:nth-of-type(3) {
  color: #a7a7a7;
}

.library {
  border-radius: 7px;
  background-color: #121212;
  color: white;
  margin: 8px;
  min-height: 80vh;
}
.heading {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 10px;
  gap: 10px;
  color: #a7a7a7;
  img {
    width: 25px;
  }
}
.songs {
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 40vh;
  }
  li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 5px;
  }
  .info div {
    font-size: 14px;
    margin: 5px;
    width: 120px;
  }
  .playme {
    padding: 0px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
.scroll {
  height: 30vh;
  overflow: auto;
}
.box-1 {
  background-color: #242424;
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  h5 {
    font-size: 15px;
    font-weight: 200;
  }
  button {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  gap: 8px;
  margin-top: 30px;

  align-items: center;
  font-size: 10px;
  padding: 10px;

  a {
    color: #a7a7a7;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.right {
  width: 75vw;
  border: 2px solid black;
  background-color: #121212;
  position: relative;
}
.header {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
  position: sticky;
  z-index: 1;
  top: 0;
}
.hamburger {
  display: none;
}
.header button:nth-of-type(1) {
  background-color: #121212;
  border: none;
  color: #a7a7a7;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
}
.header button:nth-of-type(2) {
  background-color: white;
  color: black;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 550;
}
.spotifyPlaylist {
  padding: 5px 15px;
  color: white;
}
.heading-2 {
  font-size: 14px;
  margin-bottom: 15px;
}
.cardcollection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 20px 30px 20px;
  max-height: 69vh;
  overflow-y: scroll;
  /* For Webkit browsers (e.g., Chrome, Safari) */
}
.spotifycard {
  background-color: #252525;
  padding: 10px;
  border-radius: 10px;
  width: 167px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  transition: all 0.9s ease-out;
  img {
    width: 167px;
    border-radius: 5px;
  }
  h2 {
    font-size: 15px;
  }
  h4 {
    font-size: 13px;
    font-weight: 600;
    color: #a7a7a7;
  }
}
.spotifycard:hover {
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  .play {
    opacity: 1;
  }
}
.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 88px;
  right: 17px;
  opacity: 0;
  transition: all 1s ease-out;
}
.playbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 100px;
  color: white;
  background-color: #252522;
  width: 71vw;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 18px;
}
.songname {
  width: 260px;
}
.songbutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 150px;
  margin: 8px;
  img {
    width: 35px;
    cursor: pointer;
  }
}
.songtime {
  display: flex;
  width: auto;
  gap: 15px;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  img {
    cursor: pointer;
    width: 30px;
  }
}
.seekbar {
  height: 2px;
  width: 71vw;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
}
.circle {
  height: 11px;
  width: 11px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  left: -1%;
}

@media (max-height: 600px) {
  .playbar {
    bottom: 24vh;
  }
}
@media (max-width: 1250px) {
  .left {
    position: absolute;
    left: -100%;
    z-index: 1;
    width: 40vw;
  }
  .close {
    display: inline;
    filter: invert(1);
    position: absolute;
    right: 15px;
    top: 10px;
    width: 30px;
    height: 45px;
  }
  .right {
    padding: 5px;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .header {
    z-index: 0;
  }
  .playbar {
    position: absolute;
    bottom: 10px;
    width: 94vw;
  }
  .seekbar {
    width: 94vw;
  }
  .hamburger {
    display: block;
    filter: invert(1);
    margin-left: 1px;
    margin-bottom: 5px;
    height: 40px;
    width: 50px;
  }
}
@media (max-width: 700px) {
  .left {
    width: 50vw;
  }
  .playbar {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  .songname {
    width: auto;
  }
  .songbutton {
    width: auto;
    img {
      width: 40px;
    }
  }
  .songtime {
    width: auto;
  }
}
@media (max-width: 510px) {
  .left {
    width: 55vw;
  }
}
@media (max-width: 474px) {
  .left {
    width: 100vw;
  }
  .songs {
    ul {
      margin: 10px;
    }
    li {
      margin: 12px;
    }
  }
  .playbar {
    width: 90vw;
    margin: 0;
    position: absolute;
    bottom: 20px;
    font-size: 25px;
  }
  .seekbar {
    width: 90vw;
  }
  .cardcollection {
    justify-content: center;
  }
  .spotifycard {
    width: 300px;
    img {
      width: 300px;
    }
  }
}
